<h2>Welcome Page</h2>

<img src="../../assets/images/demo_testimony_photo.jpg">
<img src="../../assets/images/demo_testimony_photo.jpg" alt="Mountain View">
<%= image_tag 'demo_testimony_photo.jpg' %>

<%= link_to  'About', about_path %>